/* GENERAL LAYOUT */
body {
  margin: 0;
  padding: 0;
  background-color: #1b1722;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; /* Prevent scrolling */
  margin-bottom: 50px;
}

#offline-container {
  width: 78vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5vw;
  margin-top: 50px;
  margin-left: 20px;
}

/* IMAGE */
.offline-img {
  width: 30vw;
  max-width: 180px;
  height: auto;
  margin-bottom: 3vh;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}


/* HEADLINE */
.offline-headline {
  font-size: 5vw;
  max-font-size: 28px;
  color: white;
  font-weight: 600;
  margin-bottom: 2vh;
}

/* SUBTEXT */
.offline-sub {
  color: #e0e0e0;
  font-size: 3.5vw;
  max-font-size: 18px;
  line-height: 1.5;
}

.download-text {
  font-weight: 300;
  margin-top: 2vh;
}

/* BUTTON */
.RES-buttonn {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 4vw;
  max-font-size: 16px;
  color: white;
  background-color: #0051ff;
  border: none;
  padding: 1.5vh 6vw;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2vh;

  box-shadow: 0 0 0px #3072ff,
              0 0 10px #75afff,
              0 0 20px #0030be;
  transition: 0.3s ease;
}

.RES-buttonn:hover {
  transform: scale(1.03);
}

/* CONTACT LINK */
.offline-contact {
  margin-top: 3vh;
  color: #cfcfcf;
  font-size: 3.5vw;
  max-font-size: 16px;
}

.offline-contact a {
  color: #5fa8ff;
  text-decoration: none;
  font-weight: 400;
}

/* LINKEDIN TAG */
.linkedin-tag-link {
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  width: 100%;
    top: 30vh;
}

.linkedin-tag {
  width: 50vw;           /* Responsive to device width */
  max-width: 180px;      /* So it doesn't get too big */
  height: auto;
  opacity: 0.9;
  transition: 0.2s ease-in-out;

}

.linkedin-tag:hover {
  opacity: 1;
  transform: scale(1.03);
}